
@{
    ViewData["Title"] = "Index";
}

<Organizations</h1>

<tr>
    <th>Contact</th>
    <th>Organization</th>
    <th>Address</th>
    <th>Zip Code</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Phone</th>
</tr>

     @foreach (var organization in Model)
     {
         <tr>@organization.Name</tr>
     }