@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> To set up your organization's user account click on "Enter Information"</p>

<p><a asp-controller="Organizations" asp-action="Add">Enter Information</a></p>
</div>